<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveProjectRequest()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a Project Request title.</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="description" placeholder="Description"></textarea>
      <mat-error *ngIf="form.get('description').invalid">Please enter a Project Request description.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="deadline" placeholder="Deadline">
      <mat-error *ngIf="form.get('deadline').invalid">Please enter a deadline for the project.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="cost_capping" placeholder="Project Price Estimate">
      <mat-error *ngIf="form.get('cost_capping').invalid">Please enter a price estimate.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Project Request</button>
  </form>
</mat-card>
