<mat-card>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup]="form" (submit)="onAddInstitute()" *ngIf="!isLoading">
    <mat-form-field>
    <input matInput type="text" formControlName="inst_name" placeholder="Name of the Institute">
    <!-- <mat-error *ngIf="form.get('inst_name').invalid">Please enter name of the Institute.</mat-error> -->
    </mat-form-field>
    
    <mat-form-field>
    <textarea matInput type="text" formControlName="address" placeholder="Address"></textarea>
    <!-- <mat-error *ngIf="form.get('address').invalid">Please enter address of the Institute.</mat-error> -->
    </mat-form-field>

    <mat-form-field>
    <input matInput type="text" formControlName="so_name" placeholder="Name of the Sports Officer">
    <!-- <mat-error *ngIf="form.get('so_name').invalid">Please enter name of the Sports Officer.</mat-error> -->
    </mat-form-field>

    <mat-form-field>
    <input matInput type="number" formControlName="phone" placeholder="Phone Number of Sports Officer">
    <!-- <mat-error *ngIf="form.get('phone').invalid">Please enter Phone number of the Sports Officer.</mat-error> -->
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Add Institute and Sports Officer</button>
</form>
</mat-card>
