<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <a mat-button [routerLink]="['/dashboard1/addReferee']" routerLinkActive="mat-accent">Add Referee</a>
    <!-- <form [formGroup]="addReferee" (submit)="onCreateReferee()" *ngIf="!isLoading">
        <button mat-raised-button color="accent" type="submit">Add Referee</button>
    </form> -->
</mat-card>

<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <a mat-button [routerLink]="['/dashboard1/addVenue']" routerLinkActive="mat-accent">Add Venue</a>
    <!-- <form [formGroup]="addVenue" (submit)="onCreateVenue()" *ngIf="!isLoading">
        <button mat-raised-button color="accent" type="submit">Add Venue</button>
    </form> -->
</mat-card>

<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-3">
                <mat-accordion>
                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Add Sport
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <form [formGroup]="sport_form" (submit)="onAddSport()" *ngIf="!isLoading">
                        <mat-form-field>
                        <input matInput type="text" formControlName="sport_name" placeholder="Name of the Sport">
                        </mat-form-field>
                        
                        <mat-form-field>
                        <input matInput type="text" formControlName="sport_type" placeholder="Individual/Team">
                        </mat-form-field>
                        <button mat-raised-button color="accent" type="submit">Add Sport</button>
                    </form>
                    </mat-expansion-panel>
                </mat-accordion>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Add Institute
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <form [formGroup]="inst_form" (submit)="onAddInstitute()" *ngIf="!isLoading">
                        <mat-form-field>
                        <input matInput type="text" formControlName="inst_name" placeholder="Name of the Institute">
                        </mat-form-field>
                        
                        <mat-form-field>
                        <textarea matInput type="text" formControlName="address" placeholder="Address"></textarea>
                        </mat-form-field>
                    
                        <mat-form-field>
                        <input matInput type="text" formControlName="so_name" placeholder="Name of the Sports Officer">
                        </mat-form-field>
                    
                        <mat-form-field>
                        <input matInput type="number" formControlName="phone" placeholder="Phone Number of Sports Officer">
                        </mat-form-field>
                        <button mat-raised-button color="accent" type="submit">Add Institute and Sports Officer</button>
                    </form>
                    </mat-expansion-panel>
                </mat-accordion>
        </div>
        <div class="col-lg-3 col-lxs-3 col-sm-3">
                <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Add Participant
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                        
                            <form [formGroup]="participant_form" (submit)="onAddParticipant()" *ngIf="!isLoading">
                                    <mat-form-field>
                                    <input matInput type="text" formControlName="roll_id" placeholder="Participant Roll ID">
                                    </mat-form-field>
                                    
                                    <mat-form-field>
                                    <input matInput type="text" formControlName="name" placeholder="Participant Name">
                                    </mat-form-field>
                                
                                    <mat-form-field>
                                        <mat-label>Institute Name</mat-label>
                                        <mat-select formControlName="inst_name">
                                          <mat-option *ngFor="let institute of allInstitutes" [value]="institute.inst_name">
                                            {{ institute.inst_name }}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                
                                    <mat-form-field>
                                        <mat-label>Sport Name</mat-label>
                                        <mat-select formControlName="sport_name">
                                          <mat-option *ngFor="let sport of allSports" [value]="sport.sport_name">
                                            {{ sport.sport_name }}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                
                                    <mat-form-field>
                                    <input matInput type="number" formControlName="phone" placeholder="Phone Number">
                                    </mat-form-field>
                                    <button mat-raised-button color="accent" type="submit">Add Participant</button>
                                </form>
                            </mat-expansion-panel>
                        </mat-accordion>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3">
                <mat-accordion>
                    <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Add and Populate Group
                        </mat-panel-title>
                        <!-- <mat-panel-description>
                            Add a new Group for a particular sport
                        </mat-panel-description> -->
                    </mat-expansion-panel-header>
                
                    <form [formGroup]="form" (submit)="onAddGroupAndPopulate()" *ngIf="!isLoading">
                        <!-- <mat-form-field>
                        <input matInput type="text" formControlName="group_name" placeholder="Name of Group">
                        </mat-form-field> -->

                        <mat-form-field>
                            <mat-label>Group Name</mat-label>
                            <mat-select formControlName="group_name">
                                <mat-option *ngFor="let group of allGroups" [value]="group">
                                {{ group }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                        <mat-form-field>
                            <mat-label>Sport Name</mat-label>
                            <mat-select formControlName="sport_name">
                                <mat-option *ngFor="let sport of allSports" [value]="sport.sport_name">
                                {{ sport.sport_name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                
                        <div style="width: 100%;" formArrayName="instituteControl" *ngFor="let item of form.get('instituteControl').controls; let i = index;">  
                            <div [formGroupName]="i">
                                <mat-form-field style="width: 40%;">
                                <mat-label translate>Institute Name</mat-label>
                                <mat-select formControlName="institute" matNativeControl required>
                                    <mat-option *ngFor="let institute of allInstitutes" value="{{institute.inst_name}}">{{ institute.inst_name }}</mat-option>
                                </mat-select>
                                </mat-form-field>
                
                                <div hidden *ngIf = "i===0; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>
                                    <button style="margin-left: 40px;" mat-raised-button type="button" hidden disabled>Remove Institute</button>
                                </ng-template>
                                <ng-template #elseBlock>
                                    <button style="margin-left: 40px;" mat-raised-button type="button" (click)="removeInstitute(i)">Remove Institute</button>
                                </ng-template>
                            </div>
                        </div>
                        <button mat-raised-button type="button" (click)="addInstitute()">Add Institute</button>      
                        <br> <br>
                        <button mat-raised-button color="accent" type="submit">Add Group</button>
                    </form>
                    </mat-expansion-panel>
                </mat-accordion>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-3">
            <mat-accordion>
                <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add Referee
                    </mat-panel-title>
                </mat-expansion-panel-header>
            
                <form [formGroup]="referee_form" (submit)="onAddReferee()" *ngIf="!isLoading">
                        <mat-form-field>
                        <input matInput type="text" formControlName="referee_name" placeholder="Referee Name">
                        <!-- <mat-error *ngIf="form.get('name').invalid">Please enter name of the Referee.</mat-error> -->
                        </mat-form-field>
                    
                        <mat-form-field>
                          <mat-label>Referee Sport</mat-label>
                          <mat-select formControlName="sport_name">
                            <mat-option *ngFor="let sport of allSports" [value]="sport.sport_name">
                              {{ sport.sport_name }}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    
                        <mat-form-field>
                        <input matInput type="number" formControlName="phone" placeholder="Phone Number">
                        <!-- <mat-error *ngIf="form.get('phone').invalid">Please enter Phone number of the Referee.</mat-error> -->
                        </mat-form-field>
                        <button mat-raised-button color="accent" type="submit">Add Referee</button>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>

<br><br>

<div>
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Show Matches
        </mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-lg-4">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Match 1
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                        
                                <form [formGroup]="TeamMatch_form" (submit)="onUpdateMatch(0)" *ngIf="!isLoading">
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="institute1" placeholder="Institute A">
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="institute2" placeholder="Institute B">
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="sport_name" placeholder="Sport Name">
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <input matInput type="text" formControlName="group_name" placeholder="Group Name">
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <mat-label>Venue Name</mat-label>
                                        <mat-select formControlName="venue_name">
                                            <mat-option *ngFor="let venue of allVenues" [value]="venue.venue_name">
                                                {{ venue.venue_name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <mat-label>Referee Name</mat-label>
                                        <mat-select formControlName="referee_id">
                                            <mat-option *ngFor="let referee of allReferees" [value]="referee.referee_id">
                                                {{ referee.referee_name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                        
                                    <mat-form-field>
                                        <mat-label>Winner</mat-label>
                                        <mat-select formControlName="winner">
                                            <mat-option *ngFor="let winner of Winners[0]" [value]="winner">
                                                {{ winner }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <button mat-raised-button color="accent" type="submit">Update</button>
                                </form>
                        
                            </mat-expansion-panel>
                        </mat-accordion>
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4">
                </div>
                <div class="col-xs-4 col-sm-4 col-lg-4">
                </div>
            </div>
        </div>

    </mat-expansion-panel>
</mat-accordion>
</div>

